@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0px;
}

body {
    background: #e9ebee;
}

.btn-add-amigo {
    background: #64b474 !important;
    color: #FFF !important;
}

.btn-add-amigo:hover {
    background: #599f67 !important;
}

.meta-info-perfil {
    position: relative;
    
}

.button-command {
    position: absolute;
    right: 10px;
}

.btn-interacoes {
    background: red;
    padding: 10px 17px;
    border-radius: 5px / 5px;
    margin: 0 4px;
    cursor: pointer;
    color: #FFF;
}

.btn-interacoes i {
    margin-right: 6px;
}

.btn-interacoes:nth-child(1) {
    background: #15c39a
}
.btn-interacoes:nth-child(1):hover {
    background: #13ac88;
}

.btn-interacoes:nth-child(2) {
    background: #339af0
}
.btn-interacoes:nth-child(2):hover {
    background: #2f8edd
}

.btn-interacoes:nth-child(3) {
    background: #f5c33b
}
.btn-interacoes:nth-child(3):hover {
    background: #f4bc23
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .post {
        width: 80vw !important;
    }

.capa {
    height: 150px;
    width: 100vw;
    position: absolute;
    background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.foto-border {
   background: #FFF;
   height: 120px;
   width: 120px;
   position: absolute;
   bottom: 5px;
   margin-left: 20px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foto-perfil {
    object-fit: cover;
}

.foto {
   height: 110px;
   width: 110px;
   border-radius: 4px;
}

.meta-info {
    position: absolute;
}

.meta-info a {
    background: #f5f6f7;
    text-decoration: none;
    color: #4b4f56;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    margin: 0 5px;
}

.meta-info a:hover {
    background: #e4e6e7;
}

.article-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .post {
        background: #fff;
        width: 84%;
        margin: 13px 0;

    }
    .meta-info-perfil {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;

    }
    
    .meta-info-perfil img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        margin: 0 10px;
    }
    
    .foto {
        
    }


.comentario {
    border-top: 1px solid #dddfe2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.comentario .ui-inputfield {
    width: 600px !important;
    margin-right: 10px;
}


    .article {
    display: flex;
    justify-content: center;
    
}
.post {
        background: #fff;
        width: 84%;
        margin: 13px 0;

    }
.meta-info-perfil {
        display: flex;
        flex-direction: row;
        height: 50px;
        align-items: center;

    }
.meta-info-perfil img {
        height: 30px;
        width: 30px;
        object-fit: cover;
        margin: 0 10px;
    }
.nome {
                color: #365899;
        text-decoration: none;
    }
.tags {
        
    }
.foto-capa img {
        width: 100%;
        height: 176px;
        object-fit: cover;
    }
.titulo-container {
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
.titulo {
        color: #4f4f4f;
        margin: 10px 0;
    }
    
    
    
    
    
    .container-perfil {

   width: 100vw;
   background: #FFF;
}
    .block-capa {
        background: red;
        height: 250px;
            background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .block-fp {
           background: #FFF;
   height: 120px;
   width: 120px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 18px;
    }
    
    .block-fp-foto {
            object-fit: cover;
               height: 110px;
   width: 110px;
   border-radius: 4px;
    }
    
    .menu-scroll-perfil {
        width: 100%;
        background: #FFF;
        overflow-x: auto;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title-perfil {
        color: #FFF;
        font-size: 20px;
        margin-top: 18px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
.container-perfil {
   height: 220px;
   width: 100vw;
   position: relative;
   background: #FFF;
}

.capa {
    height: 150px;
    width: 100vw;
    position: absolute;
    background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto-border {
   background: #FFF;
   height: 120px;
   width: 120px;
   position: absolute;
   bottom: 5px;
   margin-left: 20px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foto {
   height: 110px;
   width: 110px;
   border-radius: 4px;
}

.meta-info {
    position: absolute;
    bottom: 25px;
    margin-left: 150px;
}

.meta-info a {
    background: #f5f6f7;
    text-decoration: none;
    color: #4b4f56;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    margin: 0 5px;
}

.meta-info a:hover {
    background: #e4e6e7;
}

.article-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta-info-perfil {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFF;
}

.meta-info-nome {
    margin-left: 10px;
}

.meta-info-nome .nome {
    font-size: 25px;
    color: #365899;
    font-weight: 600;
    text-decoration: none;
}

.meta-info-nome .tags {
    font-size: 16px;
}

.titulo-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #666666;
}

.titulo-container .titulo {
    font-size: 30px;
}

.titulo-container .data {
    font-size: 16px;
}

.meta-info-perfil .foto {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    object-fit: cover;
}

.post {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    background: #fff;
}

.comentario {
    border-top: 1px solid #dddfe2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.comentario .ui-inputfield {
    width: 600px !important;
    margin-right: 10px;
}

.foto-capa img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-size: cover;
}

    .container-perfil {

   width: 100vw;
   background: #FFF;
}
    .block-capa {
        background: red;
        height: 250px;
            background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .block-fp {
           background: #FFF;
   height: 120px;
   width: 120px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 18px;
    }
    
    .block-fp-foto {
            object-fit: cover;
               height: 110px;
   width: 110px;
   border-radius: 4px;
    }
    
    .menu-scroll-perfil {
        width: 100%;
        background: #FFF;
        overflow-x: auto;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title-perfil {
        color: #FFF;
        font-size: 20px;
        margin-top: 18px;
    }
        .timeline {
        margin-top: 130px;
    }
    
    .post {
        width: 80vw !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
.container-perfil {
   height: 220px;
   width: 100vw;
   position: relative;
   background: #FFF;
}

.capa {
    height: 150px;
    width: 100vw;
    position: absolute;
    background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto-border {
   background: #FFF;
   height: 120px;
   width: 120px;
   position: absolute;
   bottom: 5px;
   margin-left: 20px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foto {
   height: 110px;
   width: 110px;
   border-radius: 4px;
}

.meta-info {
    position: absolute;
    bottom: 25px;
    margin-left: 150px;
}

.meta-info a {
    background: #f5f6f7;
    text-decoration: none;
    color: #4b4f56;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    margin: 0 5px;
}

.meta-info a:hover {
    background: #e4e6e7;
}

.article-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta-info-perfil {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFF;
}

.meta-info-nome {
    margin-left: 10px;
}

.meta-info-nome .nome {
    font-size: 25px;
    color: #365899;
    font-weight: 600;
    text-decoration: none;
}

.meta-info-nome .tags {
    font-size: 16px;
}

.titulo-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #666666;
}

.titulo-container .titulo {
    font-size: 30px;
}

.titulo-container .data {
    font-size: 16px;
}

.meta-info-perfil .foto {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    object-fit: cover;
}

.post {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    background: #fff;
}

.comentario {
    border-top: 1px solid #dddfe2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.comentario .ui-inputfield {
    width: 600px !important;
    margin-right: 10px;
}

.foto-capa img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-size: cover;
}
    .container-perfil {

   width: 100vw;
   background: #FFF;
}
    .block-capa {
        background: red;
        height: 250px;
            background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .block-fp {
           background: #FFF;
   height: 120px;
   width: 120px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 18px;
    }
    
    .block-fp-foto {
            object-fit: cover;
               height: 110px;
   width: 110px;
   border-radius: 4px;
    }
    
    .menu-scroll-perfil {
        width: 100%;
        background: #FFF;
        overflow-x: auto;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title-perfil {
        color: #FFF;
        font-size: 20px;
        margin-top: 18px;
    }
        .timeline {
        margin-top: 130px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
.container-perfil {
   height: 220px;
   width: 100vw;
   position: relative;
   background: #FFF;
}

.capa {
    height: 150px;
    width: 100vw;
    position: absolute;
    background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto-border {
   background: #FFF;
   height: 120px;
   width: 120px;
   position: absolute;
   bottom: 5px;
   margin-left: 20px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foto {
   height: 110px;
   width: 110px;
   border-radius: 4px;
}

.meta-info {
    position: absolute;
    bottom: 25px;
    margin-left: 150px;
}

.meta-info a {
    background: #f5f6f7;
    text-decoration: none;
    color: #4b4f56;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    margin: 0 5px;
}

.meta-info a:hover {
    background: #e4e6e7;
}

.article-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta-info-perfil {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFF;
}

.meta-info-nome {
    margin-left: 10px;
}

.meta-info-nome .nome {
    font-size: 25px;
    color: #365899;
    font-weight: 600;
    text-decoration: none;
}

.meta-info-nome .tags {
    font-size: 16px;
}

.titulo-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #666666;
}

.titulo-container .titulo {
    font-size: 30px;
}

.titulo-container .data {
    font-size: 16px;
}

.meta-info-perfil .foto {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    object-fit: cover;
}

.post {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    background: #fff;
}

.comentario {
    border-top: 1px solid #dddfe2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.comentario .ui-inputfield {
    width: 600px !important;
    margin-right: 10px;
}

.foto-capa img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-size: cover;
}



    .container-perfil {

   width: 100vw;
   background: #FFF;
}
    .block-capa {
        background: red;
        height: 300px;
            background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .block-fp {
           background: #FFF;
   height: 120px;
   width: 120px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 18px;
    }
    
    .block-fp-foto {
            object-fit: cover;
               height: 110px;
   width: 110px;
   border-radius: 4px;
    }
    
    .menu-scroll-perfil {
        width: 100%;
        background: #FFF;
        overflow-x: auto;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title-perfil {
        color: #FFF;
        font-size: 20px;
        margin-top: 18px;
    }
    
        .timeline {
        margin-top: 230px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.container-perfil {
   height: 220px;
   width: 100vw;
   position: relative;
   background: #FFF;
}

.capa {
    height: 150px;
    width: 100vw;
    position: absolute;
    background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foto-border {
   background: #FFF;
   height: 120px;
   width: 120px;
   position: absolute;
   bottom: 5px;
   margin-left: 20px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.foto {
   height: 110px;
   width: 110px;
   border-radius: 4px;
}

.meta-info {
    position: absolute;
    bottom: 25px;
    margin-left: 150px;
}

.meta-info a {
    background: #f5f6f7;
    text-decoration: none;
    color: #4b4f56;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    margin: 0 5px;
}

.meta-info a:hover {
    background: #e4e6e7;
}

.article-container {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meta-info-perfil {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFF;
}

.meta-info-nome {
    margin-left: 10px;
}

.meta-info-nome .nome {
    font-size: 25px;
    color: #365899;
    font-weight: 600;
    text-decoration: none;
}

.meta-info-nome .tags {
    font-size: 16px;
}

.titulo-container {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #666666;
}

.titulo-container .titulo {
    font-size: 30px;
}

.titulo-container .data {
    font-size: 16px;
}

.meta-info-perfil .foto {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    object-fit: cover;
}

.post {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    background: #fff;
}

.comentario {
    border-top: 1px solid #dddfe2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
}

.comentario .ui-inputfield {
    width: 600px !important;
    margin-right: 10px;
}

.foto-capa img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    background-size: cover;
}


.title-nome {
    font-size: 27px;
    position: absolute;
    bottom: 60px;
    margin-left: 10px;
    color: #FFF;
    font-weight: 700;
}

.title-nome button{
    height: 10px;
}

    .container-perfil {

   width: 100vw;
   background: #FFF;
}
    .block-capa {
        background: red;
        height: 320px;
            background-image:url("#{resource['images:backgroundWallpaper.jpg']}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    
    .block-fp {
           background: #FFF;
   height: 120px;
   width: 120px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 18px;
    }
    
    .block-fp-foto {
            object-fit: cover;
               height: 110px;
   width: 110px;
   border-radius: 4px;
    }
    
    .menu-scroll-perfil {
        width: 100%;
        background: #FFF;
        overflow-x: auto;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title-perfil {
        color: #FFF;
        font-size: 20px;
        margin-top: 18px;
    }

    .timeline {
        margin-top: 230px;
    }
}