/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/11/2018, 22:30:53
    Author     : Joel
*/



@import url('https://fonts.googleapis.com/css?family=Roboto');
/* 
    Created on : 20/10/2018, 23:50:20
    Author     : Joel
*/

* {
    margin: 0px;
}
.container-desktop-logo {
    display: none;
}
.logo-desktop {
    display: none;
}
.logo {
    width: 90px;
    height: 90px;
}
.container-logo {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.container-input table {
    width: 100%;
}
.container-input > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container-input > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(4) > td:nth-child(1) a {
    margin: 0 5px;
    text-decoration: none;
}

.container-input table tbody tr td {
    margin-top: 7px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ui-inputtext, .ui-password{
    width: 100% ;
}


.header-text {
    font-size: 70px;
    color: #3f4050;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .components-mobile {
        display: block;
    }
    .components-desktop {
        display: none;
    }
    .container {
        width: 100vw;
        height: 100vh;
        background: #3f4050;
        padding: 0px;     
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 485px;
    }
    .container-input {
        margin: 0 30px;
    }
    a {
    color: #FFF;
}
.container-logo {
    margin-bottom: 20px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .components-mobile {
        display: block;
    }
    .components-desktop {
        display: none;
    }
    .container {
        width: 100vw;
        height: 100vh;
        background: #3f4050;
        padding: 0px;       
        display: flex;
        flex-direction: column;
        align-items: center;        
        justify-content: center;
        min-height: 485px;
    }
    .container-input {
        margin: 0 30px;
        width: 522px;
    }
    a {
    color: #FFF;
}
.container-logo {
    margin-bottom: 20px;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .components-mobile {
        display: none;
    }
    .components-desktop {
        display: block;
    }
    .container-logo {
        margin: 60px 0;
    }    
    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #3f4050;
    }
    .container {
        border-radius: 6px;
        width: 614px;
        height: 442px;
        background: #FFF;
        padding: 0px;       
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .container-input {
        margin: 0 30px;
        width: 522px;
    }
    body{
        min-height: 500px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .components-mobile {
        display: none;
    }
    .components-desktop {
        display: block;
    }
    .container-logo {
        margin-bottom: 60px;
    }   
    .container {
        width: 100%;
        height: 100vh;
        background: #FFF;
        padding: 0px;       
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: #FFF;
        min-height: 457px;
        justify-content: center;
    }

    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    .container-desktop {
        width: 100%;
        height: 100vh;
        display: flex;
        min-height: 457px;
    }
    .container-desktop-logo {
        background-image:url("#{resource['images:cidade.jpg']}");
        /*background-image: url("../css/cidade.jpg");*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        height: 100vh;
        min-height: 457px;
    }
    .container-desktop-logo:after {
        content: "";
        background: rgba(244, 67, 54, .7);
        width: 350px;
        height: 100vh;
        position: absolute;
        min-height: 457px;
    }
    .container-desktop-logo img {
        z-index: 2;
    }
    .container-input {
        margin: 0 30px;
        width: 522px;
    }
    body {
        min-height: 457px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .components-mobile {
        display: none;
    }
    .components-desktop {
        display: block;
    }
    .container-logo {
        margin-bottom: 30px;
    }
    .logo-desktop {
        display: block;
    }
    .logo-mobile {
        display: none;
    }
    .container-desktop {
        background: #3f4050;
        background-image:url("#{resource['images:cidade.jpg']}");
        /*background-image: url("cidade.jpg");*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-desktop:after {
        content: "";
        background: rgba(63, 64, 80,0.97);
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 1;
    }
    .container-desktop-logo {
        z-index: 10;
        background-image:url("#{resource['images:cidade.jpg']}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;



        display: flex;
        justify-content: center;
        align-items: center;
        width: 36vw;
        height: 85vh;

        border-radius: 6px 0 0 6px;
    } 
    .container-desktop-logo:after {
        content: "";
        background: rgba(244, 67, 54, .7);
        width: 36vw;
        height: 85vh;
        position: absolute;
        border-radius: 6px 0 0 6px;
    }
    .container-desktop-logo img {
        z-index: 2;
    }
    .container {
        z-index: 10;
        border-radius: 0 6px 6px 0;
        width: 45vw;
        height: 85vh;
        background: #FFF;
        padding: 0px;       
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        background: #FFF;
        justify-content: center;


    }
    .container-input {
        margin: 0 30px;
        width: 522px;
    }
}